__pycache__/
*.py[cod]
*.egg-info/
dist/
build/
env/
venv/
*.log
.vscode/
*.code-workspace
.DS_Store
desktop.ini
Thumbs.db
*.tmp
*.bak
*.swp
*.zip
*.rar
*.7z
.env
*.txt
*.pdf
*.hwpx
*.pptx
*.lnk
node_modules/
