# 민감 파일 직접 명시
001.jpg
002.jpg
003.jpg
004.jpg
005.jpg
006.jpg
007.jpg
008.jpg
궁금증.png
데이터.png
데이터2.png
데이터3.png
슬픔.png
인공지능.png
인공지능2.png
제미나이.webp
제미나이2.jpg
진로와 직업 카드뉴스 3112 송정아.png
챗지피티.svg
클로드.svg

2025 3학년 진로활동1(학과탐색활동지) (1) 3112 송정아.hwpx
2025 3학년 진로활동1(학과탐색활동지) 3112 송정아.pdf
2025 3학년 진로활동3( 자유주제탐구 활동지).hwp
2025 학급잡지 만들기 3112 송정아.hwp
2025 학급잡지 만들기 3112 송정아.pdf
2025 학급잡지 만들기.hwp
3112 송정아 인공지능 기초 ppt 1(pdf).pdf
3112 송정아 인공지능 기초 ppt 1.pptx
3112 송정아 인공지능 기초 ppt 2(pdf).pdf
3112 송정아 인공지능 기초 ppt 2.pptx
3112 송정아 진로활동3( 자유주제탐구 활동지).hwp
3112 송정아 진로활동3( 자유주제탐구 활동지).pdf
Discord.lnk
Internet Explorer.lnk
League of Legends.lnk
Microsoft Office Excel 2007.lnk
Microsoft Office PowerPoint 2007.lnk
Riot Client.lnk
desktop.ini
송정아 - 바로 가기.lnk
시간표.pptx
영어 기사 수행 자료.txt
영어 주제탐구(영어).txt
영어 주제탐구(한국어).txt
진로와 직업 독후감 3112 송정아.pdf
진로와 직업 독후감.hwpx
진로와 직업 주제 탐구 보고서 3112 송정아.hwp
진로와 직업 주제 탐구 보고서 3112 송정아.pdf
진로와 직업 카드뉴스 3112 송정아.zip
물리 독서 수행 자료.txt
물리 독서 수행 자료2.txt
물리 주제탐구 수행 자료.txt
미적 주제탐구.txt
미적분 주제탐구 보고서(3112송정아).hwpx
미적분 주제탐구 (1).hwpx
체육 과거 운동 종목 수행 자료.txt
화작 글쓰기 자료.txt
화작 글쓰기 최종.txt
화작 추가 보고서.txt
